<div class="back">
  <app-header></app-header>
  <div class="container">
    <div class="navigation">
      <a routerLink="/ftfAppointment" routerLinkActive="active" >Consultas Presenciais</a>
      <a routerLink="/onlineAppointment" routerLinkActive="active" >Consultas Online</a>
      <a routerLink="/rescheduling" routerLinkActive="active" >Reagendamento</a>
      <a routerLink="/localization" routerLinkActive="active" >Localização do Consultório</a>
    </div>
    <div class="content">
      <div class="first-section">
        <div class="description">
          <h2>Drº Guilherme Nascimento <i class="fa-solid fa-user-doctor"></i></h2>
          <h3>Especializado em Cuidados Compassivos para Idosos</h3>
          <p>Como doutor geriatra, dedico minha carreira ao cuidado da saúde e ao bem-estar dos idosos. Com uma abordagem holística e compassiva, busco promover um envelhecimento saudável e digno para meus pacientes. Da gestão de condições crônicas à oferta de cuidados paliativos, estou comprometido em proporcionar uma qualidade de vida ótima para cada indivíduo que atendo. Comunico-me de forma clara e empática, colaborando com pacientes e suas famílias para entender suas necessidades únicas e oferecer o melhor suporte possível. Se você ou um ente querido está buscando cuidados geriátricos especializados, estou aqui para ajudar.</p>
        </div>
        <img src="./assets/doctor.png" alt="Doutor Guilherme">
      </div>
      <div class="second-section">
        <h2>Serviços oferecidos</h2>
        <div class="services">
          <div class="service">
            <i class="fa-solid fa-hand-holding-medical"></i>
            <div class="separator"></div>
            <p>Consultas médicas gerais para adultos e idosos</p>
          </div>
          <div class="service">
            <i class="fa-solid fa-heart-circle-check"></i>
            <div class="separator"></div>
            <p>Avaliação e tratamento de condições crônicas, como diabetes, hipertensão e doenças cardíacas</p>
          </div>
          <div class="service">
            <i class="fa-solid fa-brain"></i>
            <div class="separator"></div>
            <p>Cuidados geriátricos abrangentes, incluindo avaliações cognitivas e gerenciamento de polimedicação</p>
          </div>
          <div class="service">
            <i class="fa-solid fa-carrot"></i>
            <div class="separator"></div>
            <p>Orientação nutricional e planejamento de estilo de vida saudável</p>
          </div>
        </div>
      </div>
      <div class="third-section">
        <div class="box">
          <h2>Filosofia de cuidado</h2>
          <p>Dr. Guilherme Nascimento acredita firmemente em uma abordagem centrada no paciente, onde o bem-estar e as necessidades individuais de cada paciente são prioridade. Ele se esforça para construir relacionamentos de confiança com seus pacientes, ouvindo atentamente suas preocupações e trabalhando em colaboração para desenvolver planos de tratamento personalizados.</p>
        </div>
      </div>
      <div class="contact-section">
        <img src="./assets/logo.png" alt="Logo">
        <h2>Entre em contato</h2>
        <div class="contact-methods">
          <div class="contact">
            <i class="fa-solid fa-envelope"></i>
            <p>guilhermenasc&#64;gmail.com</p>
          </div>
          <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <p>(XX) XXXXX-XXXX</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
