<div class="back">
  <app-header></app-header>
  <div class="container">
    <h1>Localização da clínica</h1>
    <iframe title="localization" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1560354.8603579283!2d-54.020939355617614!3d-24.720368487656938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f3d46ddfcd236b%3A0x5e427a2d5fb999ef!2sMcDonald&#39;s!5e0!3m2!1spt-BR!2sbr!4v1713467510855!5m2!1spt-BR!2sbr" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <app-footer></app-footer>
</div>
